.main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    /* min-height: calc(100vh - 211px - 58px);*/
}

.foot-img {
    padding: 8px 15px 5 px 15px;
    height: 30px;
    text-align: center;
}

footer {
    background-color:#222;
    padding:30px;
    
}

