{{block "footer" .}}
<footer>
    <div class="col text-center">
        <a class="navbar-brand" href="https://mlh.io/">
            <img class="foot-img" src="/assets/website/img/mlh.png" alt="MLH logo">
        </a>
        <a class="navbar-brand" href="https://computing.njit.edu/">
            <img class="foot-img" src="/assets/website/img/njit-logo.png" alt="NJIT logo">
        </a>
        <a class="navbar-brand" href="https://github.com/AOrps/spaceZoo">
            <img class="foot-img" src="/assets/website/img/github-logo.png" alt="Github">
        </a>
        <a class="navbar-brand" href="https://devpost.com/software/spacezoo">
            <img class="foot-img" src="/assets/website/img/devpost-logo.png" alt="Devpost">
        </a>
    </div>
</footer>
{{end}}