{{block "footer" .}}
<footer>
    <div class="row text-center">
        <div class="col-4">
            <a class="navbar-brand" href="https://mlh.io/"><img src="/assets/website/img/mlh.png" width=100 height=100 alt="MLH logo">
            </a>
        </div>
        <div class="col-md-4">
            <a class="navbar-brand" href="https://computing.njit.edu/"><img src="/assets/website/img/njit-logo.png" width=100 height=200
                    alt="NJIT logo"> </a>
        </div>
        <div class="col-md-4">
            <a class="navbar-brand" href="https://github.com/AOrps/spaceZoo"><img src="/assets/website/img/github-logo.png" width=100
                    height=100 alt="Github"> </a>
        </div>
        <div class="col-md-4">
            <a class="navbar-brand" href="https://devpost.com/software/spacezoo"><img src="/assets/website/img/devpost-logo.png"
                    width=auto height=150 alt="Devpost"> </a>
        </div>
    </div>
</footer>
{{end}}